.form{
    background-color:rgb(27, 179, 240);
    line-height:50px;
    color:white;
    padding-left:5%;
    margin:auto 0px;
}
h1{
    padding-left:5%;
}
.header{
    padding-left:5%;
}
button{
    width:100px;
    height:30px;
}
textarea{
    height:50px;
    width:200px;
}
input{
    height:25px;
}